[Desktop Entry]
Type=Application
Exec=%h/.config/change-wallpaper/script.sh
# talvez nao de 
# Exec=/bin/bash -c "$HOME/.config/change-wallpaper/script.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Mudar Wallpaper
Comment=Troca automática de wallpaper no login gráfico
